

@model Fsn.Application.Contracts.Article.ListArticle

<div class="row">
    <input type="hidden" id="pageid" name="PageId" value="@Model.PageId" />

    <div class="col-md-6">
        <input type="text" asp-for="@Model.Fillter" name="filter" class="form-control" placeholder="جستجو عنوان..." />
    </div>
    <div class="col-md-4">
        <select name="take" class="form-control">
            <option value="@Model.Take">تعداد نمایش</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="col-md-2">
        <input type="submit" class="btn btn-info form-control" value="فیلتر" />
    </div>
</div>
<hr />

<table id="myTable" class="table table-bordered table-hover table-striped dataTable" role="grid">
    <thead>
        <tr role="row">
            <th>عنوان</th>
            <th>تصویر</th>
            <th>دسته</th>
            <th>وضعیت</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ArticleS)
        {
            <tr role="row" class="odd">
                <td class="text-center">
                    <img src="/Images/@item.Image" height="80" width="75" class="img-hover-scale img-bordered" />
                </td>
                <td>@item.Title</td>
                <td>@item.ArticleCategoryName</td>
                <td class="text-center">
                    @if (item.IsActive)
                    {<i class="text-success fa fa-toggle-on"></i>}
                    else
                    {<i class="text-danger fa fa-toggle-off"></i>}
                </td>
                <td class="text-center">
                    <a href="/Admin/Article/Edit/@item.Id" class="btn btn-outline-warning"><i class="fa fa-edit"></i></a>
                    <button onclick="Delete('@item.Id')" type="button" class="btn btn-outline-danger"><i class="fa fa-times"></i></button>

                    @if (item.IsActive)
                    {
                        <button onclick="Status('@item.Id')" type="button" class="btn btn-outline-primary"><i class="fa fa-eye"></i></button>
                    }
                    else
                    {
                        <button onclick="Status('@item.Id')" type="button" class="btn btn-outline-primary"><i class="fa fa-eye-slash"></i></button>

                    }

                </td>
            </tr>
        }


    </tbody>
</table>

<div class="col-md-12 text-center">

    @if (Model.PageId > 1)
    {
        <a class="btn border-primary" style="cursor: pointer" onclick="sendPage(@(Model.PageId-1))">
            قبلی
        </a>
    }

    @for (int page = Model.StartPage; page <= Model.EndPage; page++)
    {
        <a class="btn @((page==Model.PageId)?"btn-success border-primary" :"border-primary") " style="cursor: pointer" onclick="sendPage(@(page))">
            @(page)
        </a>
    }
    @if (Model.PageId < Model.PageCount)
    {
        <a class="btn border-primary" style="cursor: pointer" onclick="sendPage(@(Model.PageId+1))">
            بعدی
        </a>
    }

</div>
