
@model Fsn.Application.Contracts.Article.SingleArticle

@{
    Layout = "_Layout";
    ViewData["Title"] = $"مشاهده مقاله {Model.Title}";
}

<main class="position-relative">
    <!--archive header-->
    <div class="archive-header text-center">
        <div class="container">
            <div class="breadcrumb" dir="rtl">
                <a href="/" rel="nofollow">خانه</a>
                <span></span> مشاهده مقاله (@Model.Title)
            </div>
            <div class="bt-1 border-color-1 mt-30 mb-50"></div>
        </div>
    </div>
    <!--main content-->
    <div class="main_content sidebar_right pb-50">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-md-12 col-sm-12 m-auto" dir="rtl">
                    <div class="entry-header entry-header-1 mb-30 text-right">
                        <h1 class="post-title ">
                            <a>@Model.Title</a>
                        </h1>
                        <div class="single-social-share clearfix ">
                            <div class="entry-meta meta-1 font-small color-grey float-right mt-10">
                                <span class="hit-count">@Model.CommentCount نظر<i class="ti-comment mr-5"></i></span>
                            </div>
                        </div>
                    </div>
                    <!--end entry header-->
                    <figure class="single-thumnail">
                        <div class="featured-slider-1 border-radius-5 p-3">
                            <div class="featured-slider-1-items">
                                <div class="slider-single">
                                    <img src="/Images/@Model.Image" class="rounded" alt="">
                                </div>
                            </div>
                        </div>

                    </figure>

                    <div class="entry-main-content">
                        <hr class="wp-block-separator is-style-wide">
                        <p class="text-justify">
                            @Html.Raw(Model.Content)
                        </p>
                    </div>

                    <!--related posts-->
                    <!--comment form-->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="comment-form">
                            <h3 class="mb-30">ارسال نظر</h3>
                            <form id="commentForm" method="post">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea asp-for="CreateCommnet.Message" class="form-control w-100" cols="30" rows="10" placeholder="متن"></textarea>
                                            <input type="hidden" asp-for="CreateCommnet.UserId" value="@ViewBag.Userid" />
                                            <input type="hidden" asp-for="CreateCommnet.ArticleId" value="@Model.Id" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" onclick="SendForm('/Home/AddComment','commentForm')" class="button button-contactForm">ثبت</button>
                                </div>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="comment-form">
                            <div class="alert alert-warning">
                                <p>
                                    جهت درج کامنت ابتدا در سایت <strong>لاگین</strong> کنید
                                </p>
                            </div>
                        </div>
                    }


                    <!--Comments-->

                    @await Component.InvokeAsync("ShowComments",Model.Id.ToString())
                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                    @await Component.InvokeAsync("LastArticle")
                </div>
            </div>
        </div>
    </div>
</main>

<link href="~/lib/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/lib/sweetalert/sweetalert.js"></script>